* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: #03045e;
    color: white;
}

.about {
    background-color: #023e8a;
}

.projects {
    background-color: #0077b6;
}

.experience {
    background-color: #0096c7;
}

.contact {
    background-color: #00b4d8;
}

@media only screen and (min-width: 961px) {
    .block {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

